<!-- Navigation Bar -->
<nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #8125a5;">
    <!-- Brand -->
    <a class="navbar-brand" href="{{base_url}}/home"><h3 style="font-family: 'Kirang Haerang', cursive; font-size: 30px;">Wallet App</h3></a>
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="{{base_url}}/home/currency"><h3 style="font-family: 'Kirang Haerang', cursive; font-size: 30px;">Check currency</h3></a>
            </li>
        </ul>
    </div>
</nav>