{% extends 'base_layout.html' %}
{% block style %}
body{
  background-color: #666666;
background-image: url('https://64.media.tumblr.com/16c45f8b9ed4c3406574c4d382b4f883/tumblr_pckjbw6JVQ1wnjxxqo1_1280.png');
background-position: center;
background-size: cover;
background-repeat: no-repeat;
}
{% endblock %}
{% block body %}
<div class='mx-5 my-5' >
    <div class='border mx-3 mt-5 px-3 py-3'>
        <table class='table my-3 mx-3'>
            <tr class="w3-win8-pink">
                <th><i class="fa fa-calendar"> Date</i></th>
                <th><i class="fa fa-list"> List</i></th>
                <th><i class="fa fa-pencil-square-o"> Type</i></th>
                <th><i class="fa fa-money"> Value (THB)</i></th>
                <th></th>
            </tr>
            {% for i in data['data'] %}
            <tr class="table table-primary">
                <td>{{i['date']}}</td>
                <td>{{i['action']}}</td>
                <td>{% if i['status'] == 'income' %}Income{% endif %}{% if i['status'] == 'expense' %}Expense{% endif %}</td>
                <td>{{i['value']}}</td>
                <td>
                    <button type="button" class='editbtn btn btn-warning fa fa-pencil' value='{{loop.index0}}'> Edit</button>
                    <a class="btn btn-danger fa fa-trash" href="./home/delete?id={{loop.index0}}"> Delete</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        <div class='text-center'>
            <button type="button" class="w3-btn w3-green w3-border w3-border-green w3-round-xlarge" data-toggle="modal" data-target="#addListModal">
                <i class="fa fa-plus"> Add List</i>
            </button>
        </div>
    </div>
    <div class='border mt-3 mx-3 text-center px-3 py-3'>
        <!-- Container -->
        <div class="container-fluid">
            <!-- Cards Content Row -->
            <div class="row mt-3">
              <!-- Card-1 -->
              <div class="col-lg-3 col-sm-6 col-12 mt-2">
                <div class="card">
                  <div class="card-body w3-red w3-text-black">
                    <h5 class="card-title text-muted  w3-text-white">💸Expend</h5>
                    <h3 class="card-text counter">{{sum['Expense']}}</h3>
                  </div>
                </div>
              </div>
              <!-- Card-1 -->
      
              <!-- Card-2 -->
              <div class="col-lg-3 col-sm-6 col-12 mt-2">
                <div class="card">
                  <div class="card-body w3-light-green w3-text-black">
                    <h5 class="card-title text-muted w3-text-white">💰Income</h5>
                    <h3 class="card-text counter">{{sum['Income']}}</h3>
                  </div>
                </div>
              </div>
              <!-- Card-2 -->
      
               <!-- Card-3 -->
               <div class="col-lg-3 col-sm-6 col-12 mt-2">
                <div class="card">
                  <div class="card-body  w3-amber w3-text-black">
                    <h5 class="card-title text-muted w3-text-white">💸Balance</h5>
                    <h3 class="card-text counter">{{sum['Difference']}}</h3>
                  </div>
                </div>
              </div>
              <!-- Card-3 -->
            </div>
            <!-- Cards Content Row -->
      </div>
    </div>
    <div id='box'>
      {% for id in ids %}
        <div id='{{id}}'>
        </div>
      {% endfor %}
    </div>
</div> 

  <!-- Add Modal -->
  <div class="modal fade" id="addListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content " style="background-color: rgb(253, 130, 181)" >
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle" >Add List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" style="background-color: rgb(250, 233, 135)">
          <form method='POST' action="./home/add" id='add-form'>
            <label for='date'>Date</label>
            <input type='date' name='date' class='form-control' id='date'>
            <label for='action'>Action:</label>
            <input name="action" id='action' class='form-control'>
            <label for='status'>Status</label>
            <select name="status" id='status' class='form-control'>
                <option value='income'>Income</option>
                <option value='expense'>Expense</option>
            </select>
            <label for='value'>Value (THB)</label>
            <input name="value" type='number' id='value' class='form-control'>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" form='add-form' class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Edit Modal -->
  <div class="modal fade" id="editListModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content" style="background-color: rgb(253, 130, 167)">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalScrollableTitle">Edit List</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body " style="background-color: rgb(200, 253, 151)">
          <form method='POST' action="./home/edit" id='edit-form'>
            <input type='hidden' name='index' value=''>
            <label for='date'>Date</label>
            <input type='date' name='date' class='form-control' id='editdate'>
            <label for='action'>Action:</label>
            <input name="action" id='editaction' class='form-control'>
            <label for='status'>Status</label>
            <select name="status" id='editstatus' class='form-control'>
                <option value='income'>Income</option>
                <option value='expense'>Expense</option>
            </select>
            <label for='value'>Value (THB)</label>
            <input name="value" type='number' id='editvalue' class='form-control'>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" form='edit-form' class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



     
{% endblock %}
{% block scriptend %}
<script>
    $(document).ready(function () {
    $('.editbtn').on('click', function () {
      var id = $(this).val();
      $('#editListModal').modal('show');
      $("input[name=index]").val(id);

      $tr = $(this).closest('tr');

      var data = $tr.children("td").map(function () {
        return $(this).text();
      }).get();

      console.log(data);

      $('#editdate').val(data[0]);
      $('#editaction').val(data[1]);
      $('#editstatus').val(data[2].toLowerCase());
      $('#editvalue').val(data[3]);
    });
  });
</script>
<script type="text/javascript">
        var graphs = {{ graphJSON | safe}};
        var ids = {{ ids | safe}};
        for (var i in graphs) {
        Plotly.plot(ids[i], // the ID of the div, created above
        graphs[i].data,
        graphs[i].layout || {} , {responsive: true});
        }
</script> 
{% endblock %}